exp0/*
experiment*/al_amarelLog/*/
experiment*/simulations/simRawOutput/
experiment*/dataProcessing/simOutputH5Data/
experiment*/dataProcessing/*.rdata
experiment*/analyses/figures/*
experiment*/analyses/allSimInputOutput.feather
experiment*/analyses/calculatedMetrics/*.feather
experiment*/analyses/externalData/*.feather
experiment*/notForPublication/*
experiment*/simulations/trialH5data/
