exp0/*
experiment*/al_amarelLog/*/
experiment*/simulations/simRawOutput/
experiment*/dataProcessing/simOutputH5Data/
experiment*/dataProcessing/*.rdata
experiment*/analyses/figures/*
experiment*/analyses/allSimInputOutput.feather
experiment*/analyses/calculatedMetrics/*.feather
experiment*/analyses/externalData/*.feather
experiment1/analyses/defenseFigures/*
experiment1/analyses/thesisFigures/*
experiment1/analyses/makeThesisFigures/*
experiment1/analyses/defenseFigures*
experiment*/notForPublication/*
experiment*/simulations/trialH5data/
experiment*/analyses/thesisFigures/*
experiment*/analyses/analysesCode/thesisFigures*
